body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

h1 {
    color: #007bff;
}
.error-message{
    color:red;

}

#code-section {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
label, .text-primary-emphasis,
.text-danger-emphasis
{
    font-weight:500;
}

#code-section p {
    margin-bottom: 10px;
}

#code-section button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}




form {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    padding: 20px;
    border-radius: 5px;
}


form input,
form button {
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}